@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import "tailwindcss";

@theme{
    --font-indie-flower: Indie Flower, "sans-serif"
}

/* #666666 */
.glass-effect {
  background: rgba(102, 102, 102, 0.1);
  box-shadow: 0 10px 40px rgba(1, 8, 24, 0.38);
  border: 1px solid rgba(95, 140, 221, 0.25);
  backdrop-filter: blur(10px);
  transition: transform 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}
